/tb_logs/
/data/
/tmp/
final_model.ckpt
uv.lock
pyproject.toml
.python-version
processing_log.txt
final_metrics.txt
dataloaders/__pycache__/BitArrayDataset.cpython-310.pyc
models/__pycache__/CustomCNN.cpython-310.pyc


*.pyc
*.pyo



.venv/
env/


*.log
*.bak
*.swp


dist/
build/
*.egg-info/


.vscode/
.idea/
TO:DO.md
archive/train_binary_testing.py
archive/train_decoded_cnn.py
archive/

__pycache__
*/__pycache__
final_metrics_chamfertest.txt
final_metrics_mhd.txt
final_metrics_three_rle.txt
final_metrics_three.txt
processing_log_chamfertest.txt
processing_log_mhd.txt
final_metrics_chamfertest.txt
processing_log_chamfertest.txt
final_metrics_four_sc.txt
.gitignore
final_metrics_binaryvoxel_mhd.txt
final_metrics_four_rle.txt
final_metrics_chamfertest_binaryvoxel.txt
processing_log_binaryvoxel_mhd.txt
processing_log_chamfertest_binaryvoxel.txt
